{% extends 'PageBundle::html.html.twig' %}


{% block title %}Przypominacz{% endblock %}
{% block pageTitle %}Przypominacz{% endblock %}

s

{% block pageContainer %}
<div class="box" xmlns="http://www.w3.org/1999/html">
    <h1>reminder | {{ login }} | {{ user }} | {{ odp }}</h1>
    {#<form action="{{ path ('question_reminder_route') }}">#}
        {#<input name="login" type="text" placeholder="Podaj login"/>#}
        {#<button type="submit">Przpomnij</button>#}
    {#</form>#}

    <form action="{{ path ('answer_reminder_route') }}">
        {{ user }}
        <input name="login" value="{{ login }}">
        <input name="answer" type="text" placeholder="Podaj odpowiedź"/>
        <button type="submit">Zobacz</button>
    </form>
</div>


{% endblock %}
