{% extends 'PageBundle::html.html.twig' %}


{% block title %}Twój profil{% endblock %}
{% block pageTitle %}Twój profil{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageContainer %}
<div class="box">
    <a href="{{ path('fos_user_profile_show') }}">
        <button>Wróć do profilu</button>
    </a>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        {#<input type="submit" value="{{ 'change_password.submit'|trans }}" />#}
        <button type="submit" id="form_submit" disabled="disabled" class="btn btn-md btn-success">{{ 'change_password.submit'|trans }}</button>
    </div>
    {{ form_end(form) }}
</div>


    <script>
        $(document).ready(function(){
            $('.fos_user_change_password').validate({
                rules: {
                    'fos_user_change_password_form[current_password]': {
                        required: true,
                        pattern: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/
                    },
                    'fos_user_change_password_form[plainPassword][first]': {
                        required: true,
                        pattern: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/
                    },
                    'fos_user_change_password_form[plainPassword][second]': {
                        required: true,
                        pattern: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/,
                        equalTo: "#fos_user_change_password_form_plainPassword_first"
                    }
                },
                messages: {
                    'fos_user_change_password_form[current_password]': {
                        required: "Pole jest wymagane",
                        pattern: "Hasło musi zawierać mała literę, duża literę oraz cyfrę"
                    },
                    'fos_user_change_password_form[plainPassword][first]': {
                        required: "Pole jest wymagane",
                        pattern: "Hasło musi zawierać mała literę, duża literę oraz cyfrę"
                    },
                    'fos_user_change_password_form[plainPassword][second]': {
                        required: "Pole jest wymagane",
                        pattern: "Hasło musi zawierać mała literę, duża literę oraz cyfrę",
                        equalTo: "Hasła nie zgadzają się"
                    }
                }
            });


//            $('.fos_user_change_password input').on('keyup blur', function () { // fires on every keyup & blur
//                if ($('.fos_user_profile_edit').valid()) {                   // checks form for validity
//                    $('button.btn').prop('disabled', false);        // enables button
//                } else {
//                    $('button.btn').prop('disabled', 'disabled');   // disables button
//                }
//            });

//            $(".fos_user_change_password").submit(function(e) {
//                e.preventDefault();
//                var $url = $(this).attr('action');
//                var $data = $(this).serialize();
//
//
//                $.ajax({
//                    type: "POST",
//                    cache: false,
//                    url: $url,
//                    data: $data,
//                    success: function(result){
//
//                        $register = '<div class="alert alert-success alert-dismissable">Dane użtkownika zostały zmienione</div>';
//                        $(".panel-title").text('Edycja');
//                        $(".panel-body").html($register);
//
//
//                    }
//                });
//            })
        });
    </script>
{% endblock %}
